<div class="row text-center">
        <div class="col-12">
                <div class="cartel">
                        <div class="row">
                                <div class="col-12 col-sm-6 col-lg-12">
                                        Veuillez saisir le nom recherché : <br />
                                        (Vide = tous les matricules)
                                </div>
                                <div class="col-12 col-sm-6 col-lg-12">
                                        <input placeholder="Bob" type="texte" (keydown.enter)="rechercherMatriculeParNom(saisie1.value)"
                                        #saisie1 /> <input type="submit" value="rechercher"
                                        (click)="rechercherMatriculeParNom(saisie1.value)" />
                                </div>
                                <div class="col-12 text-center" *ngFor="let mat of tabMatricules">
                                        <a class="link" (click)="rechercherCollegueParMatricule(mat)">{{mat}}</a>
                                </div>
                        </div>  
                </div>
        </div>
</div>