<div class="row">
    <div class="col-12 col-sm-6 col-lg-12 text-center">
        Veuillez saisir le nom recherché :
    </div>
    <div class="col-12 col-sm-6 col-lg-12 text-center">
            <input placeholder="Bob" type="texte" (keydown.enter)="rechercherMatriculeParNom(saisie1.value)"  #saisie1/> <input type="submit" value="rechercher" (click)="rechercherMatriculeParNom(saisie1.value)"/>
    </div>
    <div class="col-12 text-center" *ngFor="let mat of tabMatricules">
            <input type="submit" value={{mat}} (click)="rechercherCollegueParMatricule(mat)"/>
    </div>
    
</div>

