<div class="row cartel">
  <div class="col-12 col-lg-5 justify-align-center align-self-center entete-cartel">
    <img src="{{col.photoUrl}}" class="img-fluid img-thumbnail justify-align-center mx-auto d-block" />
  </div>
  <div class="col-12 col-lg-7 mx-auto d-block align-small ">
    <form #formCollegue="ngForm" (ngSubmit)="submit()">
      <label>Matricule :</label> {{col.matricule}} <br/>
      <label>Nom :</label> {{col.nom | uppercase}}<br/>
      <label>Prenoms :</label> {{col.prenoms | lowercase}} <br/>
      <label>Date De Naissance :</label> {{col.dateDeNaissance | date:'longDate'}} <br/>
      
      <div [ngSwitch]="edition">
        <div *ngSwitchCase="true" class="row">
          <div class="col-12"> 
            <div class="row">
                <label class="col-12 col-lg-5">Email :</label> <input class="col-12 col-lg-6" appEmailValidator type="email" [(ngModel)]="colAModifier.email" name="email" #email="ngModel" required (change)="retablirEmail(email.invalid)" />
            </div>
          </div>
          <div class="error col-12" *ngIf="email.invalid && email.errors.required"> 
            Ce champ est invalide ! Il doit être rempli pour être valide.
          </div>
          <div class="error col-12" *ngIf="email.errors && email.errors.emailExistant && email.value!=col.email"> 
            {{email.errors.emailExistant}}
          </div>
          <div class="col-12"> 
            <div class="row">
              <label class="col-12 col-lg-5">UrlPhoto :</label> <input class="col-12 col-lg-6" type="text" [(ngModel)]="colAModifier.photoUrl"  name="photoUrl" #photoUrl="ngModel" required minlength="7" (change)="retablirPhotoUrl(photoUrl.invalid)" />
            </div>
          </div>
          <div class="error col-12" *ngIf="photoUrl.invalid"> 
              Ce champ est invalide ! Il doit contenir au moins 7 caractères.
          </div>
        </div>
        <div *ngSwitchDefault>
          <label>Email :</label> {{col.email}} <br/>
        </div>
      </div>
      <div class="row">
        <a (click)="ajoutCollegue()" [hidden]="edition" class="col-6 link">Ajouter un collègue</a>  <input class="col" [disabled]="formCollegue.invalid && email.value!=col.email" type="submit" [value]="valeurBouton" (click)="spread()"/>
      </div>
    </form>
  </div>
</div>