<div class="row">
  <div class="col-12">
    <div class="cartel">
      <div class="row">
        <div class="col-12 col-lg-5 justify-align-center align-self-center">
          <div class="entete-cartel">
            <a routerLink="/galerie/{{col.matricule}}">
              <img src="{{col.photoUrl}}" class="img-fluid img-thumbnail justify-align-center mx-auto d-block" />
            </a>
          </div>
        </div>
        <div class="col-12 col-lg-7 mx-auto d-block align-small ">
          <form #formCollegue="ngForm" (ngSubmit)="submit()" class="row">
            <label class="col-12 col-lg-4">Matricule :</label>          <span class="col-12 col-lg-8">{{col.matricule}} </span><br/>
            <label class="col-12 col-lg-4">Nom :</label>                <span class="col-12 col-lg-8">{{col.nom | uppercase}}</span><br/>
            <label class="col-12 col-lg-4">Prenoms :</label>            <span class="col-12 col-lg-8">{{col.prenoms | lowercase}}</span> <br/>
            <label class="col-12 col-lg-4">Date De Naissance :</label>  <span class="col-12 col-lg-8">{{col.dateDeNaissance | date:'longDate'}}</span> <br/>
            
            <div [ngSwitch]="edition" class="col-12">
              <div *ngSwitchCase="true" class="row">
                <div class="col-12"> 
                  <div class="row">
                      <label class="col-12 col-lg-5">Email :</label> <input class="col-12 col-lg-6" appEmailValidator type="email" [(ngModel)]="colAModifier.email" name="email" #email="ngModel" required (change)="retablirEmail(email.invalid)"/>
                  </div>
                </div>
                <div class="error col-12" *ngIf="email.invalid && email.errors && email.errors.required"> 
                  Ce champ est invalide ! Il doit être rempli pour être valide.
                </div>
                <div class="error col-12" *ngIf="email.errors && email.errors.emailExistant && email.value!=col.email"> 
                  {{email.errors.emailExistant}}
                </div>
                <div class="col-12"> 
                  <div class="row">
                    <label class="col-12 col-lg-5">UrlPhoto :</label> <input class="col-12 col-lg-6" type="text" [(ngModel)]="colAModifier.photoUrl"  name="photoUrl" #photoUrl="ngModel" required minlength="7" (change)="retablirPhotoUrl(photoUrl.invalid)" />
                  </div>
                </div>
                <div class="error col-12" *ngIf="photoUrl.invalid"> 
                    Ce champ est invalide ! Il doit contenir au moins 7 caractères.
                </div>
              </div>
              <div *ngSwitchDefault class="row">
                <div class="col-12">
                  <div class="row">
                      <label class="col-12 col-lg-4">Email :</label> <span class="col-12 col-lg-8">{{col.email}}</span> <br/>
                  </div>
                    
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <a (click)="ajoutCollegue()" [hidden]="edition" class="col-6 link">Ajouter un collègue</a>
                <input type="button" (click)="spread()" [hidden]="!edition" class="col-6" value="Annuler"/> 
                <input class="col-6" [disabled]="formCollegue.invalid && colAModifier.email!=col.email" type="submit" [value]="valeurBouton" (click)="spread()"/> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>