<header class="text-center row">
    <h1 class="col-12 col-lg-10">L'application des collègues {{collegueConnecte.nom}}</h1> 
        <div [ngSwitch]="estConnecte">
            <div *ngSwitchCase="true">
                <img class="col-12 col-lg container-fluid login" src="../assets/disconnect.png" (click)="disconnect ()"/>
            </div>
            <div *ngSwitchDefault>
                <a routerLink="/authentification" class="col-12 col-lg container-fluid"> 
                    <img class="login" src="../assets/login.png"/>
                </a>
            </div> 
        </div>
</header>

<nav class="row text-center">
    <a class="col-12 col-md-3 menu" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
    <a class="col-12 col-md-3 menu" routerLink="/galerie" routerLinkActive="active-link">Galerie</a>
    <a class="col-12 col-md-3 menu" routerLink="/administration" routerLinkActive="active-link">Administration</a>
    <a class="col-12 col-md-3 menu" routerLink="/apropos" routerLinkActive="active-link">A Propos</a>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="row">
</footer>
