<header class="text-center">
    <div [ngSwitch]="estConnecte">
        <div *ngSwitchCase="true" class="col-12">
            <div class="row">
                <h1 class="col-12 col-lg-10">Bienvenue {{collegueConnecte.nom | uppercase }} {{collegueConnecte.prenoms}}</h1> 
                <div class="col-12 col-lg-2">
                    <img class="login" src="assets/disconnect.png" (click)="disconnect ()"/>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault class="col-12">
            <div class="row">
                    <h1 class="col-12 col-lg-10">L'application des collègues</h1> 
                    <a routerLink="/authentification" class="col-12 col-lg"> 
                        <img class="login" src="assets/login.png"/>
                    </a>
            </div>
        </div> 
    </div>
</header>

<nav class="row text-center">
    <a class="col-12 col-md-3 menu" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
    <a class="col-12 col-md-3 menu" routerLink="/galerie" routerLinkActive="active-link">Galerie</a>
    <a class="col-12 col-md-3 menu" routerLink="/administration" routerLinkActive="active-link">Administration</a>
    <a class="col-12 col-md-3 menu" routerLink="/apropos" routerLinkActive="active-link">A Propos</a>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="row">
</footer>
