textarea {
    border-radius: 8px;
}

span {
    white-space: pre-line;
}

.note {
    background-color: var(--grey);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin: 5px;
}

.note-entete {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}