<div *ngIf="messageEnvoye" class="success">
    Message envoyé avec succès !
</div>

<form #formNote="ngForm" (ngSubmit)="submit()">
        <textarea class="col-12" [(ngModel)]='note' name="textarea" rows="4" wrap="hard">
        </textarea>
        <input class="col-12" value="Envoyer" type="submit"/>
</form>

<div *ngFor="let noteIndividuelle of tabNote" class="note">
    <div class="col-12 note-entete">
            Message publié le {{noteIndividuelle.date | date:'dd/MM/yyyy à HH:mm:ss'}}
    </div>
    <div class="col-12">
        <span>{{noteIndividuelle.message}}</span>
    </div>
    <a (click)="supprNote(noteIndividuelle.id)" class="col-12 link">Supprimer</a>
</div>

