:root {
    --blue: rgb(2, 103, 193); 
    --lightBlue: #1e9fd0;
    --red: #913633;
    --violet: rgb(61, 49, 91) ;
    --black: rgb(49, 47, 47);
    --grey: rgb(110, 114, 113);
}

/*elements HTML*/
input[type="submit"] {
    background: var(--blue);
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    justify-content: center !important;
    margin: 2px;
}

input[type="submit"]:hover  {
    background: var(--violet);
    cursor: pointer;
}

label {
    font-weight: bold;
}

h1 {
    color: var(--red);
}

/*classes*/

.container-fluid {
    background-color: var(--black);
}

.link {
    font-size: 1.1rem;
    
    color: var(--lightBlue) !important;
    text-align: center;
}

.link:hover {
    text-decoration: underline !important;
    font-weight: bold;
    cursor: pointer;
}

.cartel {
    background-color: var(--grey);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin: 5px;
    position: relative;
    width: 99%;
    left: 2%;
}

.align-small {
    text-align: center;
}

.error {
    animation: blink-animation 1.4s steps(1000) infinite;
    
  }
  @keyframes blink-animation {
    from {
        background-color: var(--red);    
    }
    to {
        background-color: none;    
    }
}

/* Responsive modification with Bootstrap */
@media (max-width: 991.98px) { 
    .img-fluid {
        max-height: auto;
    }

    .entete-cartel {
        border-width: 1px;
        border-radius: 6px;
        background-color: var(--blue);
    }
}

@media (min-width: 992px) { 

    .align-small {
        text-align: left;
    }

    .img-fluid {
        max-height: 160px;
    }

    .cartel {
        width: 100%;
        left: 1.25%;
    }
}