:root {
    --lightBlue: #51bbfe;
    --blue: #0267c1;  
    --darkBlue: #2d3754;
    --darkViolet: #1a1423;
    --violet: #3D315B ;
    --pink: #f196b5;
    --darkPink: #ba6e87;
    --red: #913633;
    --beige: #e39774;
    --green: #4c9f70;
    --grey: #6E7271;
    --darkGrey: #312f2f;
    --black: #07070a;
}

/*elements HTML*/
input[type="submit"], input[type="button"] {
    background: var(--lightBlue);
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    justify-content: center !important;
    margin: 2px;
}

input[type="submit"]:hover, input[type="button"]:hover  {
    background: var(--blue);
    cursor: pointer;
}

label {
    font-weight: bold;
}

h1 {
    color: white;
}

html {
    background-color: var(--darkGrey);
}

/*classes*/

.container-fluid {
    background-color: var(--darkGrey);
}

.link {
    font-size: 1.1rem;
    color: var(--lightBlue) !important;
    text-align: center;
}

.link:hover {
    text-decoration: underline !important;
    font-weight: bold;
    cursor: pointer;
}

.cartel {
    background-color: var(--grey);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin: 5px;
    position: relative;
    width: 99%;
    left: 2%;
}

.align-small {
    text-align: center;
}

.error {
    background-color: var(--red);
    font-size: 1.2em;
}

.success {
    background-color: var(--green);
}

/* Responsive modification with Bootstrap */
@media (max-width: 991.98px) { 
    .img-fluid {
        max-height: auto;
    }

    .entete-cartel {
        background-color: var(--darkBlue);
        border: 1px;
        border-style: solid;
        border-radius: 8px;
    }
}

@media (min-width: 992px) { 

    .align-small {
        text-align: left;
    }

    .img-fluid {
        max-height: 160px;
    }

    .cartel {
        width: 100%;
        left: 1.25%;
    }

    .link {
        text-align: left;
    }
}