<div class="row center-block">
  <div class="col-3">
    <img src="{{col.photoUrl}}" class="img-fluid img-thumbnail" />
  </div>
  <div>
    Matricule : {{col.matricule}} <br/>
    Nom : {{col.nom | uppercase}}<br/>
    Prenoms : {{col.prenoms | lowercase}} <br/>
    Date De Naissance : {{col.dateDeNaissance | date:'longDate'}} <br/>
    <div [ngSwitch]="edition">
      <div *ngSwitchCase="true">
        Email : <input type="texte" [value]="col.email" #saisie1/> <br/>
        photoUrl : <input type="texte" [value]="col.photoUrl" #saisie2/>
      </div>
      <div *ngSwitchDefault>
        Email : {{col.email}} <br/>
        <a href="newCollegue">Ajouter un collègue</a>
      </div>
    </div>
    <input type="submit" [value]="valeurBouton" (click)="spread()"/>
  </div>
</div>
