<div class="row center-block">
  <div class="col-3">
    <img src="{{col.photoUrl}}" class="img-fluid img-thumbnail" />
  </div>

  <div>
    Matricule : {{col.matricule}} <br/>
    Nom : {{col.nom | uppercase}}<br/>
    Prenoms : {{col.prenoms | lowercase}} <br/>
    Email : <div [ngSwitch]="edition">
                <p *ngSwitchCase="true"><input type="texte" #saisie1/></p>
                <p *ngSwitchDefault>{{col.email}}</p>
            </div><br/>
    Date De Naissance : <div [ngSwitch]="edition">
                            <p *ngSwitchCase="true"><input type="texte" #saisie2/></p>
                            <p *ngSwitchDefault>{{col.dateDeNaissance | date:'longDate'}}</p>
                        </div><br/>
    <div [ngSwitch]="edition">
      <a href="newCollegue" *ngSwitchCase="false">Ajouter un collègue</a>
    </div> <input type="submit" [value]="valeurBouton" (click)="spread()"/>
  </div>
</div>
