@media (max-width: 991.98px) { 
    .img-fluid {
        max-height: auto;
    }
    .alignSmall {
        text-align: center;
    }
}

@media (min-width: 992px) { 
    .img-fluid {
        max-height: 160px;
    }
}
