<h2 class="text-center">
  Bienvenue sur le site des collègues ! 
</h2>

<div class="text-center">
  Vous pouvez consulter la galerie de tous les collègues et cliquer sur la photo de votre choix pour plus de détails. <br/>
  La partie administration vous permettra de modifier les informations email et le lien de la photo de profil.  <br/>
  Cette partie permet également l'ajout de nouveaux collègues au sein du site des collègues ! <br/>
  En vous souhaitant une agréable expérience sur notre site !
</div>